* {
    box-sizing: border-box;
    font-family: "Nunito", Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
    height: 100% !important;
    background: linear-gradient(#efefef, #b9deed) no-repeat;
}